<p class="info-page">New article with template</p>

<form #articleForm="ngForm" (ngSubmit)="onSubmit(articleForm)" novalidate>
  <h1>Create Wine - Template</h1>

  <div class="form-control">
    <label for="name">Wine name:</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="article.name"
      required
      #name="ngModel"
    />
    <div class="error-msg" *ngIf="submitted && name.errors?.['required']">
      Name is required.
    </div>
  </div>

  <div class="form-control">
    <label for="imageUrl">Wine image url:</label>
    <input
      type="text"
      id="imageUrl"
      name="imageUrl"
      [(ngModel)]="article.imageUrl"
      required
      pattern="^(https?://)?[a-zA-Z0-9-]+(.[a-zA-Z]{2,3})(/.*)?\\.(jpg|jpeg|png|gif)$"
      #imageUrl="ngModel"
    />
    <div class="error-msg" *ngIf="submitted && imageUrl.errors?.['required']">
      A valid image URL is required.
    </div>
    <div class="error-msg" *ngIf="submitted && imageUrl.errors?.['pattern']">
      Please enter a valid URL.
    </div>
  </div>

  <div class="form-control">
    <label for="price">Price:</label>
    <input
      type="number"
      id="price"
      name="price"
      [(ngModel)]="article.price"
      required
      pattern="^[0-9]+(.[0-9]{1,2})?$"
      #price="ngModel"
    />
    <div class="error-msg" *ngIf="submitted && price.errors?.['required']">
      Price is required.
    </div>
    <div class="error-msg" *ngIf="submitted && price.errors?.['pattern']">
      Price must be numeric.
    </div>
  </div>

  <div class="form-control">
    <label for="onSale">
      <input
        type="checkbox"
        id="onSale"
        name="onSale"
        [(ngModel)]="article.onSale"
        #onSale="ngModel"
      />
      On Sale
    </label>
  </div>

  <div class="form-control">
    <button type="submit">Create</button>
  </div>
</form>
