<div class="article-item" [ngClass]="{ 'en-venta': article.isOnSale }">
  <img [src]="article.imageUrl | articleImage" [alt]="article.name" />
  <h2>{{ article.name }}</h2>
  <p [ngClass]="{ 'precio-gris': !article.isOnSale }">
    {{ article.price | formatoMoneda }}
  </p>
  <span *ngIf="article.isOnSale">¡En oferta!</span>
  <p *ngIf="article.isOnSale">En la cesta: {{ article.quantityInCart }}</p>
  <div class="botones" *ngIf="article.isOnSale">
    <button (click)="emitirIncrementoCantidad()">+</button>
    <button
      [disabled]="article.quantityInCart === 0"
      (click)="emitirDecrementarCantidad()"
    >
      -
    </button>
  </div>
  <p *ngIf="!article.isOnSale">Artículo no disponible</p>
</div>
