/* Ejercicio 1 */
.article-item {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  display: flex;
  flex-grow: 4;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 200px;
  padding: 20px;
}

.article-item img {
  height: 150px;
  margin-bottom: 10px;
  object-fit: cover;
  width: 200px;
}

.article-item h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.article-item p {
  font-size: 16px;
  margin-bottom: 0;
}

.article-item span {
  color: red;
  font-weight: bold;
}

.en-venta {
  border: 2px solid #ff3333;
}

/* Ejercicio 3 */
.botones {
  flex-direction: row;
}

button {
  background-color: #212121;
  border: #212121;
  border-radius: 4px;
  color: #ffffff;
  margin: 0 6px;
  min-width: 48px;
  padding: 3px 6px;
}

button:hover {
  background-color: #414141;
  color: #ffffff;
  cursor: pointer;
}

button:disabled {
  background-color: #999999;
  color: #212121;
}

/* Ejercicio 5 */
.precio-gris {
  color: #999999;
}
