.header__nav {
  background-color: #414141;
  height: 48px;
  line-height: 48px;

  ul {
    align-items: center;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      flex: 1;

      a {
        color: #ffffff;
        display: block;
        font-size: 14px;
        font-weight: 700;
        padding: 0 16px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          background-color: #212121;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
}
