<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="navigate('/article/list')">Inicio</a>
    <div class="navbar-nav">
      <ng-template #showLogin>
        <a class="nav-link" (click)="navigate('/login')">Login</a>
        <a class="nav-link" (click)="navigate('/register')">Register</a>
      </ng-template>

      <ng-container *ngIf="isLoggedIn | async; else showLogin">
        <a class="nav-link" (click)="logout()">Logout</a>
      </ng-container>

      <a class="nav-link" (click)="navigate('/article/list')">Artículos</a>
      <a class="nav-link" (click)="navigate('/article/create')"
        >Nuevo artículo reactive</a
      >
    </div>
  </div>
</nav>
