<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Inicio</a>
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="/login">Login</a>
      <a class="nav-link" routerLink="/register">Register</a>
      <a class="nav-link" routerLink="/article/list">Articulos</a>
      <a
        class="nav-link"
        *ngIf="authStoreService.isLoggedIn()"
        routerLink="/article/create"
        >Nuevo artículo reactive</a
      >
    </div>
  </div>
</nav>
