.navbar-nav {
  display: flex; /* Asegura que los elementos dentro de .navbar-nav se alineen horizontalmente */
  align-items: center; /* Centra verticalmente los elementos dentro de .navbar-nav */
  padding-left: 0; /* Elimina el padding izquierdo por defecto para listas no ordenadas si es necesario */
  list-style: none; /* Elimina los estilos de lista por defecto si es necesario */
}

.nav-link {
  padding: 0.5rem 1rem; /* Ajusta el padding para que los enlaces tengan un mejor espaciado */
  color: white; /* Asegura que el color de los enlaces sea blanco, agregalo si no es visible */
  text-decoration: none; /* Remueve el subrayado de los enlaces */
}

.navbar {
  align-items: center; /* Esta propiedad debe ser 'center' para alinear verticalmente */
  width: 100%; /* Asegura que la barra de navegación ocupe el ancho completo */
}

.navbar-brand {
  padding: 0.5rem 1rem; /* Ajusta el padding como ya estaba definido */
  margin-right: 1rem; /* Añade margen a la derecha para separarlo de los enlaces */
}
