<p class="info-page">article-new-reactive works!</p>

<form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="name">Article Name:</label>
    <input type="text" formControlName="name" />
    <div
      class="error-msg"
      *ngIf="articleForm.get('name')?.errors?.['required'] && articleForm.get('name')?.touched"
    >
      Name is required
    </div>
    <div
      class="error-msg"
      *ngIf="articleForm.get('name')?.errors?.['forbiddenName'] && articleForm.get('name')?.touched"
    >
      Name is not allowed
    </div>
  </div>

  <div class="form-control">
    <label for="price">Price:</label>
    <input type="number" formControlName="price" />
    <div
      class="error-msg"
      *ngIf="articleForm.get('price')?.errors?.['required'] && articleForm.get('price')?.touched"
    >
      Price is required
    </div>
    <div
      class="error-msg"
      *ngIf="articleForm.get('price')?.errors?.['min'] && articleForm.get('price')?.touched"
    >
      Price must be at least €0.1
    </div>
  </div>

  <div class="form-control">
    <label for="imageUrl">Image URL:</label>
    <input type="text" formControlName="imageUrl" />
    <div
      class="error-msg"
      *ngIf="articleForm.get('imageUrl')?.errors?.['required'] && articleForm.get('imageUrl')?.touched"
    >
      Image URL is required
    </div>
    <div
      class="error-msg"
      *ngIf="articleForm.get('imageUrl')?.errors?.['pattern'] && articleForm.get('imageUrl')?.touched"
    >
      Please enter a valid URL
    </div>
  </div>

  <div class="form-control">
    <label for="onSale"
      ><input type="checkbox" formControlName="onSale" /> On Sale</label
    >
  </div>

  <div class="form-control">
    <button type="submit">Submit</button>
  </div>
</form>

<div *ngIf="creationStatus$ | async as article">
  <p>Article created: {{ article.name }}</p>
</div>
<div *ngIf="creationError">
  <p>There was an error creating the article.</p>
</div>
